
<p id="notice"><%= notice %></p>

<h1>Student Learning Objectives</h1>
<p>An app to measure teacher effectiveness and student growth.</p>

<%= link_to 'Log in', new_user_session_path %> to create your SLO.
